<!-- {% with messages = get_flashed_messages(with categories=true) %}
  {% if messages %}
    {% for c, m in messages %}
     it packages it up. you pass it in as your message comma category but here its category,message. backwards
    <div class="alert alert-{{ c }} alert-dismissible fade show" role="alert">
      <strong>{{ m }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- {% endfor %}
  {% endif %}
{% endwith %} --> -->